body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header, nav, section, footer {
    padding: 20px;
    text-align: center;
}

header {
    background: #333;
    color: #fff;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
}

section {
    margin: 20px 0;
}

.project {
    margin: 20px 0;
    text-align: left;
}

.project img {
    display: block;
    margin-bottom: 10px;
    max-width: 100%; /* Ensure the image doesn't overflow the container */
}

.project video {
    display: block;
    margin: 10px 0;
    width: 100%;
    max-width: 640px; /* Set a maximum width for the video */
    height: auto; /* Maintain aspect ratio */
}

footer {
    background: #333;
    color: #fff;
    padding: 10px 0;
}
