body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f5f5f5; /* Light background color */
    color: #333;
}

header, nav, section, footer {
    padding: 20px;
}

header {
    background: linear-gradient(90deg, #4CAF50, #81C784); /* Gradient background */
    color: #fff;
    padding: 40px 20px;
}

header h1 {
    font-size: 2.5em;
    margin: 0;
}

header p {
    font-size: 1.2em;
    margin: 10px 0 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #4CAF50; /* Navigation background */
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    display: block;
}

nav ul li a:hover {
    background-color: #45a049; /* Hover effect for nav items */
    border-radius: 5px;
}

.dropdown-content {
    background-color: #81C784; /* Dropdown background */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: #fff;
}

section {
    margin: 20px 0;
}

.project {
    margin: 20px auto;
    text-align: center; /* Center project content */
    max-width: 800px; /* Set a max width for the project content */
    background-color: #fff; /* White background for project sections */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 10px;
    padding: 20px;
}

.project img {
    display: block;
    margin: 0 auto 10px auto; /* Center the image and add margin below */
    max-width: 100%; /* Ensure the image doesn't overflow the container */
    border-radius: 10px; /* Rounded corners for images */
}

.project video {
    display: block;
    margin: 10px auto;
    width: 100%;
    max-width: 640px;
    height: auto;
    border-radius: 10px; /* Rounded corners for videos */
}

footer {
    background: #4CAF50;
    color: #fff;
    padding: 10px 0;
}

#resume p {
    margin-bottom: 10px;
}

#contact i {
    margin-right: 8px;
    color: #0077b5; /* Use the same color as the LinkedIn blue */
}

#contact a {
    color: #0077b5;
    text-decoration: none;
}

#contact a:hover {
    text-decoration: underline;
}

h2 {
    color: #4CAF50; /* Green headings */
}
